body{
    width: 100%;
    align-items: center;
    font-family: Roboto;
    color: #46394C;
    font-family: arial, "anonymousregular" ;

}
@font-face {
    font-family: 'anonymousregular';
    src: url('assets/fonts/Anonymous-webfont.eot');
    src: url('assets/fonts/Anonymous-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/Anonymous-webfont.woff2') format('woff2'),
         url('assets/fonts/Anonymous-webfont.woff') format('woff'),
         url('assets/fonts/Anonymous-webfont.ttf') format('truetype'),
         url('assets/fonts/Anonymous-webfont.svg#anonymousregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.intro-container{
    background-color: rgb(248, 245, 240);
    height: 900px;
}

.intro-container .logo {
    font-family:serif;
    padding: 15px;
}


.intro-container .intro-speech{
    padding-top: 100px;
    height: 700px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;

}

.picture a:hover{
    background: none
}



.text-header{
    width: 500px;
    height: 10px;
}

.intro-speech .name{
    color: rgb(224, 186, 16);
    
}

.intro-container .intro-speech .picture img{
    width: 400px;
    height: 275px;
    padding-right: 90px;
}

.about_us{
    background-color: #fff;
    padding-top: 150px;
    padding-left: 150px;
    padding-bottom:50px ;
    display: flex;
    flex-direction: row;

}

.about_text{
    margin-left: 50px;
    width: 400px;
    font-weight: bold;
}

.leisure_container{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #363732;
    color: rgb(223, 219, 213);
}

.skills_container .skills{
    
}

.leisure .the_leisure{
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100px;
    margin-top:20px ;
    margin-left: 40px;
    border: 1px solid rgb(47, 68, 254);
    border-radius: 50px;
    text-align: center;
}

.leisure .the_leisure p{
    padding-top: 40px;
    position: relative;
    margin: auto;
    text-align: center;
}

header{
    margin-left: 50%;
}
li a:link, a:visited{
    display: block;
    font-weight: bold;
    color: rgb(253, 175, 7);
    background-color: bisque;
    width: 120px;
    text-align: center;
    padding: 4px;
    text-transform: uppercase;
    text-decoration: none;
}

li{
    float: left;
    
}
ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
a:hover, a:active{
    color: black;
    background-color: burlywood;
}

a[title= "ici"]{
    color: rgb(182, 252, 21);
}


.card{
    width: 10px;
    height: 100%;
    min-height: 400px;
    padding-top: 100px;
    padding-right: 400px;
    display: flex;
}

#experience{
    background-color: rgb(185, 175, 165);
}
.card_section{
    display: flex;
    flex-wrap: wrap;
    width: 100%;

}
.card_container{
    width: 300px;
    height: 430px;
    border-radius: 6px;
    margin-top: 150px;
    margin-left: 200px;
    position: absolute;
    transform: translate(-50%, -50%);
    box-shadow: 0px 1px 10px 1px #000;
    overflow: hidden;
}

.upper_container{
    height: 150px;
    background: #7F00FF;
}
.lower_container{
    height: 280px;
    background: #DCDCDD;
    padding: 20px;
    padding-top: 40px;
    text-align: center;
} 

.image_container{
    background: white;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding: 5px;
    transform: translate(100px,100px);
}

.image_container img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.lower_container h3, h4{
    padding-top: 10px;
    box-sizing: border-box;
    line-height: .6;
    font-weight: lighter;
}

.lower_container h4{
    color: #7F00FF;
    opacity: .6;
    font-weight: bold;
}

.lower_container p{
    padding-top: 10px;
    font-size: 16px;
    color: gray;
    margin-bottom: 30px;
}

.lower_container .bouton{
    padding: 12px 20px;
    background: #363732;
    border: none;
    color: white;
    border-radius: 30px;
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
    transition: all 1s ease-in;
}

.lower_container .bouton:hover{
    background: transparent;
    color: #7F00FF;
    border: 2px solid #7F00FF;
}

.lower_container h3{
   color: chocolate;
}

/* Begining of the Skills */



#skillsSection{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-around;
    width: 100%;

}
.card_skiils
{
    margin-top:50px ;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    width: 100px;

}

#skillsSection .card_skiils{
    position: relative;
    width: 250px;
    background: linear-gradient(0deg,#1b1b1b,#222,#1b1b1b);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    text-align: center;
    overflow: hidden;
    transition: 0.5s;
}

#skillsSection .card_skiils:hover{
    transform: translateY(-10px);
    box-shadow: 0 15px 35px rgba(184, 167, 167, 0.5);
}

#skillsSection .card_skiils:before{
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: rgba(155, 148, 148, 0.03);
    pointer-events: none;
    z-index: 1;
}

.percent{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: inset 0 0 50px #000;
}

.percent .number{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.percent .number{
    color: #777777;
    font-weight: 700;
    font-size: 20px;
    transition: cubic-bezier(0.39, 0.575, 0.565, 1);
}

.card_skiils:hover .percent .number h2{
    color: #fff;
    transition: cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

.percent .number h2 span{
    font-size: 24px;
    color: #777;
    transition: cubic-bezier(0.95, 0.05, 0.795, 0.035) ease-in;
}

.card_skiils:hover .percent .number h2 span{
    color: #fff;
}

.skill_name{
    position: relative;
    color: #777;
    margin-top: 20px;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: cubic-bezier(0.95, 0.05, 0.795, 0.035);
}

.card_skiils:hover .skill_name{
    color: #fff;
}
*{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

svg{
    position: relative;
    width: 150px;
    height: 150px;
    z-index: 1000;
}
svg circle{
    width: 100%;
    height: 100%;
    fill: none;
    stroke: #181717;
    stroke-width: 10;
    stroke-linecap: round;
    transform: translate(5px , 5px);
}
svg circle:nth-child(2){

    stroke-dasharray: 440;
    stroke-dashoffset: 440;
}

.card_skiils:nth-child(1) svg circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440 * 60) / 100);
    stroke: rgb(122, 56, 44);
}
.card_skiils:nth-child(2) svg circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440 * 40) / 100);
    stroke: rgb(18, 40, 136)!important
}
.card_skiils:nth-child(3) svg circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440 * 30) / 100);
    stroke: rgb(212, 88, 16) !important
}

.card_skiils:nth-child(4) svg circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440 * 50) / 100);
    stroke: rgb(35, 117, 223) !important
}

.card_skiils:nth-child(5) svg circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440 * 80) / 100);
    stroke: rgb(14, 10, 241) !important
}

.card_skiils:nth-child(6) svg circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440 * 70) / 100);
    stroke: rgb(68, 38, 20) !important
}

.card_skiils:nth-child(7) svg circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440 * 70) / 100);
    stroke: rgb(212, 16, 16) !important
}

.card_skiils:nth-child(8) svg circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440 * 50) / 100);
    stroke: rgb(22, 248, 161) !important
}

.card_skiils:nth-child(9) svg circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440 * 39) / 100);
    stroke: rgb(16, 101, 212)!important
}

.card_skiils:nth-child(10) svg circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440 * 40) / 100);
    stroke: rgb(235, 213, 16) !important
}




/*Footer Beginning*/

.footer{
    display: flex;
    flex-direction: row;
    height: 200px;
    background: #000;
}

.icon{
    margin: auto;
    padding-top:7px ;
    width:10% ;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.icon a img{
    width: 30%;
}
.icon a:link, .icon a:visited .icon a:hover{
    background: none;
}
.icon h3{
    font-family: sans-serif;
    font-size: 0.5em;
    text-align: center;
}